img {
    object-fit: cover;
}

.sermon-body {
    width: 100%;
    /* height: 550px; */
    margin: 0 auto;
    justify-content: space-around;
}

.sermon-item {
    width: 100%;
    /* height: 90%; */
    overflow: hidden;
}

.sermon-item img {
    width: 100%;
}

.sermon-content {
    height: auto;
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}

.sermon-item a {
    text-decoration: none;
    color: white;
}

.sermon-item a:hover {
    color: black;
}

/* ::-webkit-scrollbar {
    display: none;
} */